<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<!-- <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script> -->
<!-- 首页大图 -->
<div class="container-fluid loadingpage img-responsive ">
  <div class="row">
    <!-- <div class="col-lg-12"> -->
  <img src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-20161130trweid.jpg" class="responsive thumbnail" alt="loadingpage">
  <!-- </div> -->
</div>
</div>

<!-- 关于我们 -->

<div class="container-fluid text-center aboutme bg-grey">
  <div>
    <h3> 关于我们 </h3>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="aboutmeitem responsive">
      <img src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-3.jpg"  class=" img-responsive img-circle" alt="liang" >
      <h5>90后新生代首饰制造者，多年的外资企业珠宝开发经验，追求极致！</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="aboutmeitem responsive">
      <img src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-2.jpg"  class=" img-responsive img-circle" alt="liang" >
      <h5>我们相信，首饰不仅仅是饰品，是生活，是亲情，是爱情的结晶。</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="aboutmeitem responsive">
      <img src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-1.jpg"  class=" img-responsive img-circle" alt="liang" >
      <h5>我们不惜时间成本，不追求产量，只为做出完美作品。</h3>
      </div>
    </div>
  </div>
</div>





<!-- 以下是头部。 -->
<!-- <div class="header">
  <div class="headerContent">
    <div class="headerContent-item headerContent-item1 text-center">
      <h2>开发者珠宝</h2>
    </div>
    <div class="headerContent-item headerContent-item2 bg-color2"></div>
    <div class="headerContent-item headerContent-item3 bg-color3"></div>
  </div>
</div> -->

<!-- 以下是菜单栏 -->
<!-- <div class="menu bg-color1">
  <div class="menuList">
    <div class="menuList-item bg-color2"></div>
    <div class="menuList-item bg-color3"></div>
    <div class="menuList-item bg-color4"></div>
    <div class="menuList-item bg-color5"></div>
  </div>
</div> -->

<!--Video Section-->
<!-- <section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/pByQXYr2ugs',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"></a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h2>全栈营珠宝</h2>
        <h3>全栈营特供珠宝</h3>
        <h3>90后珠宝师的匠心之作</h3>
				<h5>源自意大利工艺</h5>
	   </div>
     </div>
    </div>
  </div>

</section> -->

<!-- 以下是测试视频背影2 -->

<!-- 以下是测试视频背影的代码 -->
<!--
<video autoplay loop poster="polina.jpg" id="bgvid">

  <source src="videos/liang~4.mp4" type="video/webm">

  <source src="videos/liang~4.mp4" type="video/mp4">

</video> -->

<!-- <div class="container myvideo">
  <div class="myvideo1">
  <div class="page1">
    <div class="row">
      <div class="col-lg-12 page">
      <h2>全栈营珠宝</h2>
      <h3>全栈营特供珠宝</h3>
      <h3>90后珠宝师的匠心之作</h3>
      <h5>源自意大利工艺</h5>
   </div>
  </div>
  <div>
    <video autoplay loop poster="polina.jpg" id="bgvid">

      <source src="videos/liang~4.mp4" type="video/webm">

      <source src="videos/liang~4.mp4" type="video/mp4">

    </video>
    </div>
  </div>
</div> -->


<!-- 以下是视频2的测试 -->
<div class="container-fluid page">
  <div class="row">
<div id="video-wrapper" class="video-wrapper">
  <video width="1200" height="500" autoplay loop id="bgvid" class="mp4-responsive ">
    <source src="/videos/liang~4.mp4" type="video/webm" class="mp4-responsive-item">
	  <source src="/videos/liang~4.mp4" type="video/mp4" class="mp4-responsive-item">
  </video>
</div>

<div class="content">
	<article>
    <h2>FullStack Jewelry</h2>
<h3>全栈营特供珠宝</h3>
<h3>匠心之作</h3>
<h5>源自意大利工艺</h5>
</article>

</div>
</div>
</div>

<!--
<div class="embed-responsive autoplay loop embed-responsive-16by9" style="display:z-index: -1;">
  <iframe class="embed-responsive-item" src="/videos/liang~4.mp4"></iframe> -->


<!--Video Section Ends Here-->
<!-- https://youtu.be/pByQXYr2ugs -->
<!-- 以下是小标题 -->
<div class="container smallnav">
  <div>
    <h3><i class="fa fa-diamond" aria-hidden="true"></i>钻石专区</h3>
  </div>
</div>
<!-- 以下是商品小列表。 -->

<div class="container diamondlist">
  <div class="row">
  <div class="picturegroup">
    <div class="picture-left">
        <img src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-4.jpg" class="img-responsive" />
    </div>
    <div class="picture-right">
      <div class="picture-right-1">
        <div class="picture-right-item">
          <a href="/products/1">
            <img src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-075510.jpg" class="img-responsive"/>
          </a>
        </div>
                <div class="picture-right-item-2x">
          <!-- <a href="/products/1"> -->
            <img src="http://www.gmond.com/data/afficheimg/1476292661201385818.jpg" class="img-responsive"/>
          <!-- </a> -->
        </div>
                <div class="picture-right-item">
          <a href="/products/2">
            <img src="http://www.gmond.com/images/201610/goods_img/490_G_1476985537678.jpg" class="img-responsive"/>
          </a>
        </div>

      </div>
      <div class="picture-right-2">
        <div class="picture-right-2-item">
                  <div class="picture-right-item">
          <a href="/products/3">
            <img src="http://www.gmond.com/images/201610/goods_img/485_G_1476987468378.jpg" class="img-responsive"/>
          </a>
        </div>
                  <div class="picture-right-item">
          <a href="/products/4">
            <img src="http://www.gmond.com/images/201610/goods_img/484_G_1476987651741.jpg" class="img-responsive"/>
          </a>
        </div>
                  <div class="picture-right-item">
          <a href="/products/5">
            <img src="http://www.gmond.com/images/201610/goods_img/489_G_1476986082130.jpg" class="img-responsive"/>
          </a>
        </div>
                  <div class="picture-right-item">
          <a href="/products/6">
            <img src="http://www.gmond.com/images/201610/goods_img/488_G_1476986198376.jpg" class="img-responsive"/>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- 以上是商品小列表。 -->

<div class="container smallnav">
  <div>
    <h3><i class="fa fa-life-ring" aria-hidden="true"></i>铂金专区</h3>
  </div>
</div>

<!-- 以下是铂金专区 -->
<div class="container ptlist">
  <div class="row">
  <div class="picturegroup">
    <div class="picture-left-2">
        <img src="http://www.gmond.com/data/afficheimg/1471393180898055803.jpg" class="img-responsive" />
    </div>
    <div class="picture-right">
      <div class="picture-right-1">
        <div class="picture-right-item">
          <a href="/products/7">
            <img src="http://www.gmond.com/images/201610/goods_img/469_G_1477000901456.jpg" class="img-responsive"/>
          </a>
        </div>
                <div class="picture-right-item-2x">
          <!-- <a href="/products/1"> -->
            <img src="http://www.gmond.com/data/afficheimg/1476292643593227408.jpg" class="img-responsive"/>
          <!-- </a> -->
        </div>
                <div class="picture-right-item">
          <a href="/products/8">
            <img src="http://www.gmond.com/images/201610/goods_img/473_G_1477001497925.jpg" class="img-responsive"/>
          </a>
        </div>

      </div>
      <div class="picture-right-2">
        <div class="picture-right-2-item">
                  <div class="picture-right-item">
          <a href="/products/9">
            <img src="http://www.gmond.com/images/201610/goods_img/470_G_1477000731469.jpg" class="img-responsive"/>
          </a>
        </div>
                  <div class="picture-right-item">
          <a href="/products/10">
            <img src="http://www.gmond.com/images/201610/goods_img/474_G_1477001363611.jpg" class="img-responsive"/>
          </a>
        </div>
                  <div class="picture-right-item">
          <a href="/products/11">
            <img src="http://www.gmond.com/images/201610/goods_img/477_G_1477002833820.jpg" class="img-responsive"/>
          </a>
        </div>
                  <div class="picture-right-item">
          <a href="/products/12">
            <img src="http://www.gmond.com/images/201610/goods_img/476_G_1477002954904.jpg" class="img-responsive"/>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- 以上是铂金专区 -->



<!-- http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-4.jpg"  -->
<!--    http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-02-075510.jpg"  -->





<!-- 以下是排序 -->
<!--
<div class="orderList bg-color1">
  <div class="orderList-item bg-color2"></div>
  <div class="orderList-item bg-color3"></div>
  <div class="orderList-item bg-color4"></div>
  <div class="orderList-item bg-color5"></div>
</div> -->
