<jumbotron class=" text-center ">
  <div class="container-fluid foot">
    <div class="footpage">
      <div class="row">
      <div class="col-sm-4 footpageitem">
        <img width="10%"src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-03-%E6%AD%A3%E5%93%81%E4%BF%9D%E9%9A%9C%E9%99%A9.png" alt="">
        <span>100%正品保障</span>
      </div>
      <div class="col-sm-4 footpageitem">
        <img width="10%"src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-03-service-%E4%B8%8A%E9%97%A8%E5%AE%89%E8%A3%85.png" alt="">
        <span>产品终身保养</span>
      </div>
      <div class="col-sm-4 footpageitem">
        <img width="10%"src="http://olmrxx9ks.bkt.clouddn.com/blog/2017-03-03-service-%E6%97%A0%E5%BF%A7%E9%80%80%E6%8D%A2%E8%B4%A7.png" alt="">
        <span>退货无忧服务</span>
      </div>
    </div>
    </div>
  </div>
</jumbotron>
<footer class="text-center">

  <div class="container-fluid ">
    <div class="row text-center footeritem">
      <div class="col-sm-12 footertext">
        <div class="column1 text-center">
          <h4>新手指南</h4>
          <p>注册新会员</p>
          <p>找回密码</p>
          <p>支付方式</p>
          <p>常见问题</p>
          <p>配送与签收</p>
        </div>
        <div class="column1 text-center">
          <h4>无忧售后</h4>
          <p>正品说明</p>
          <p>售后服务</p>
          <p>退货流程</p>
        </div>
        <div class="column1 text-center">
          <h4>关于品牌</h4>
          <p>品牌资讯</p>
          <p>网站地图</p>
          <p>积分查询</p>
        </div>
      </div>
      <span class="spacer"></span>
      <div class="footercontact">
      <h3>公司总机</h3>
      <h2>020-12345678</h3>
      <h3>工作时间</h3>
      <h4>周一至周五     8:30-18:00</h3>
      </div>
    </div>
  </div>
</footer>
